table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
tr, td{
    text-align: center;
}
.column {
  border: 1px solid black;
  text-align: center;
}
.div__parrent {
  display: flex;
}
.div__column1 {
  flex: 0.6;
}
.div__column2 {
  flex: 0.4;
}
.column__aside {
  text-align: center;
}
