body{
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;}
.div__container{
    margin: 15px;
    padding: 15px;
}
.h2__col{
    color: #AE1A1F;
    font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.img__col1{
    width: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div__col1{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}
.div__container2{
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text__align{
    text-align: center;
}
.cark{
    color: #ac1f24;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.column3{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
}
.div__col2{
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cark2{
    text-align: center;
    padding-bottom: 10px;
}
.li__pad{
    padding-top: 8px;
}